.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

%padding {
  padding: 0px 40px;
}

.header {
  @extend %padding;
  padding-top: 20px;
}

.footer {
  @extend %padding;
  padding-bottom: 20px;
}

.main {
  @extend %padding;
}
